@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@source "../node_modules/@servicestack/react/dist/servicestack-react.mjs";

@variant dark (.dark &);

[type='button'],button[type='submit']{cursor:pointer}
